{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/pages/">Publicaciones</a></li>
            <li><a href="/about/">Acerca de mí</a></li>
            {% if user.is_authenticated %}
                <li><a href="/profile/">Mi perfil</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li>
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="all: unset; cursor: pointer; color: blue; text-decoration: underline;">
            Cerrar sesión
        </button>
    </form>
</li>

                <li><a href="/messages/inbox/">Inbox</a></li>
                <li><a href="/messages/sent/">Enviados</a></li>
                <li><a href="/messages/send/">Enviar mensaje</a></li>

            {% else %}
                <li><a href="/login/">Iniciar sesión</a></li>
                <li><a href="/signup/">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- Contenido específico de cada vista -->
        {% endblock %}
    </main>
</body>
</html>


